{{extend 'layout.html'}}
{{
=CENTER(
    TABLE(
        TR(
            H4('stock'),
            CENTER(A('ingreso',_class="btn btn-primary", _href=URL('ingreso'))),
            CENTER(A('venta',_class="btn btn-primary", _href=URL('selec_cliente')))
        ),
        TR(),
        TR(
            H4('consultas'),
            CENTER(A('ingresos',_class="btn btn-primary", _href=URL('consulta_ingreso_stock'))),
            CENTER(A('ventas',_class="btn btn-primary", _href=URL('consulta_venta_stock'))),
            CENTER(A('stock',_class="btn btn-primary", _href=URL('consulta_stock')))
        ),
        TR(),
        TR(
            H4('pedidos'),
            CENTER(A('nuevo',_class="btn btn-primary", _href=URL('selec_cliente_pedido'))),
            CENTER(A('pendientes',_class="btn btn-primary", _href=URL('pedido_pendiente')))
        ),
        TR(),
        TR(
            H4('materia prima'),
            CENTER(A('ingreso',_class="btn btn-primary", _href=URL('ingreso_mp'))),
            CENTER(A('baja',_class="btn btn-primary", _href=URL('baja_mp')))
        ),
        _id='tablaindex'
    ),
)
}}