{{#extend 'plugin_adminlte/layout_starter.html'}}
{{extend 'layout.html'}}


<div id="target">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis eleifend elit. Donec lectus sem, scelerisque sit amet facilisis quis, gravida a lacus. Nunc at lorem egestas, gravida lorem quis, pulvinar ante. Quisque id tempus libero. Mauris hendrerit nunc risus, ac laoreet lectus gravida et. Nam euismod magna ac enim posuere sagittis. Fusce at egestas enim, eu hendrerit enim.
</div>

<button onclick="takeScreenShot()">to image</button>


<script>

window.takeScreenShot = function() {
        
   html2canvas(document.querySelector("#target")).then(canvas => {
    document.body.appendChild(canvas)
    Canvas2Image.saveAsPNG(canvas); 
    $("#img-out").append(canvas);
});

}

</script>