/*ajustes especificos class . */

.gridfont {
	font-family: 'Source Sans Pro',sans-serif;
	/*font-family: sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
}

.btn-grid {
	background-color: #f4f4f4;
	background-image: none;
    box-shadow: none;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.btn-grid:hover {
	color: #333;
	border-color: #adadad;
	text-decoration: none;
}


.btn-square-blue {
	width: 110px !important;
    height: 110px !important;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    display: grid;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
}

.btn-square-blue:hover {
	text-decoration: none;
} 

#tablaresult {
  
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 14px;
  color: #444;
 
  border: solid #ccc 1px;
  border-collapse: separate;
  border-spacing: 0;
}

.cantidad {
	width: 40px;
	-webkit-appearance: none;
	-moz-appearance:textfield;
    appearance: none;
    margin: 0;
}

/*.nrolote {
  width: 43px;
  -webkit-appearance: none;
  -moz-appearance:textfield;
    appearance: none;
    margin: 0;
}*/


.saldonegativo{
  color: #f00;
  -moz-appearance:textfield;
}

.precio {
	width: 80px;
	-moz-appearance:textfield;
}

.codigo {
  width: 80px;
  -moz-appearance:textfield;
}

.user-image {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -2px;
}
/*ajustes especificos id # */

#fechaingreso {
  width: 110px;
}
#nvembed {
  width: 500px;
}

#labelcliente {
	clear:left;
  height:25px;
  margin-left: 4px;
  margin-right: 4px;
}

#thpedido {
	text-transform: capitalize;
}

#totalt {
	font-size: 16px;
	font: monospace;
	color: #000;
}
#totaltitle {
	text-transform: uppercase;
	font-size: 16px;
	font: monospace;
	color: #000;
}
#notain {
  font-size: 16px;
  font: monospace;
  color: #000;
}
#web2py-logo {
	margin-left: 20px;
}

#aderecha {
   text-align: center;
}

#itemficha {
  padding: 1px;
}

#tablapedido {
  outline: 2px solid;
}

#tablacliente {
  margin-bottom: 0px;
  border-spacing:  20px 15px;
  font: bold 100% monospace;
  font-size: 15px;
}

#tablaingreso {
  margin-bottom: 0px;
  border-spacing:  20px 15px;
  font: bold 100% monospace;
  font-size: 15px;
}

#tablaselec {
  border-collapse: separate;
  margin-bottom: 0px;
  border-spacing:  20px 15px;
  font: bold 100% ;
  font-size: 15px;
}

#boton_ficha {
	vertical-align: center;
}

#nrocomp {
  /*width: 176px;*/
  width: auto;
}
#clienteinput{
  /*width: 176px;*/
  width: auto;
}
#ancho200 {
  width: 200px;
}

#ancho290 {
  width: 290px;
}	

#ancho190 {
  width: 190px;
}

/*#bloques {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 65px 50px;
  margin-bottom: 0px;
  border-spacing: 20px 15px;
  font: bold 100% monospace;
  font-size: 15px;
}*/

#bloques {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 190px);
    grid-template-rows: repeat(1, 75px);
    min-width: 300px;
    max-width: 390px;
}

#panel_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

#mini_grid {
	margin-top: 10px;
	margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 2fr));
    grid-gap: 5px;
}

#tit_minigrid {
	margin-top: 5px;
	margin-bottom: 5px;
}

#indexdiv {
	border: outset;
}

#verpdf {
	width: 630px;
	height: 460px;
}

@media (max-width: 650px) {
	#verpdf {
		width: 300px;
		height: 500px;
	}
}

/*ajustes generales*/

.container-fluid {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.body {
	margin-bottom: 0px;
  padding-bottom: 0px;
}
.navbar {
	margin-left: 0px;
	margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1px solid transparent;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
td, th {
    padding: 3px;
}

/*tablas*/

#tablaindex {
    border-collapse: separate;
    border-spacing:  5px 10px;
}

  table.t2 {
    margin: 1em auto;
    border-collapse: collapse;
    font: bold 100% monospace;
    font-size: 14px;
  }
  .t2 th, .t2 td {
    padding: 4px 8px;
  }
  .t2 th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: left;
    font-size: 15px;
    color: #fff;
  }
  .t2 tr {
    border-right: 1px solid #95b3d7;
  }
  .t2 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t2 tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
  .t2 tbody th, .t2 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
  }
  .t2 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
  }
  .t2 tr *:nth-child(3), .t2 tr *:nth-child(5) {
    text-align: right;
  }


/* tightgrid.js */

.grid {
  margin: -10px;
}

.grid__item {
  display: inline-block; /* Important */
  vertical-align: top;   /* Important */
  width: 160px;
  margin: 7px;
  font: bold 100% monospace;
  background: #e2e2e2;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
}

/*no usados*/
/*input.cliente {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 40px;
}

select.cliente {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}*/